body {
  padding: 60px 0 20px 0;
}
img {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
#output {
  text-align: center;
  margin: 0 0 20px 0;
}
#deathmap {
  display: block;
  width: 100%;
  height: auto;
}
#deathChart {
  float: left;
  margin: 0 5px 0 0;
  padding: 9px 0 0 ;
}

thead {
  background: white;
}
tfoot {
  border-top: 3px solid #DDD;
}
td, th {
  vertical-align: middle !important;
}
tr.bad-round {
  color: grey;
  font-size: 8px;
  background: #eeeeee;
}
.text-brute {color: orange;}
.text-brain {color: green;}
.text-fire  {color: red;}
.text-oxy   {color: blue;}
.brute {background-color: orange;}
.brain {background-color: green;}
.fire  {background-color: red;}
.oxy   {background-color: blue;}
.censored { color: #bbbbbb; font-size: small; }
.OOC      { color: #002eb8; }
.ADMIN    { color: #b82e00; font-weight: bold; }
.SAY      { color: #008000; }
.ACCESS   { color: #ff5050; }
.WHISPER  { font-style: italic; }
.EMOTE    { font-style: italic; }
.GAME     { color: #00c000; font-weight: bold; }
.PDA      { color: #800000; }
.log-wrap {
  width: 100%;
  overflow-x: auto;
}
.logs {
  font-family: Monospace;
  width: auto;
  border: 1px solid grey;
}
.logs td {
  vertical-align: top !important;
}
.logs td:first-child {
  background: rgb(225,225,225);
}
.logs tr:target{
  background: yellow;
}
.logs tr:hover {
  background: rgba(255,255,0,.5);
}
.ln,
.ts,
.lt {
  text-align: left;
  padding: 0 5px;
  color: black;
  font-weight: normal;
  font-style: normal;
}
.lt {
  text-align: right;
  padding-right: 5px;
}
tr.perma,
.perma,
.panel-perma .panel-heading {
  background-color: #FBE3FC !important;
  color: #cc46d2;
}

.panel-perma {
  border-color: #FBE3FC !important;
}

.navbar-nav>li>a>span {
  font-size: 100% !important;
}

.book, .round {
  color: #337ab7;
}
.book:hover,
.round:hover {
  cursor: pointer;
  cursor: hand; 
  text-decoration: underline;
}
.library-adult {
  background: grey;
  color: grey;
}
.library-adult:hover {
  background: transparent;
  color: inherit;
}
.tgdb-navbar {
  background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);
  filter: none;
  margin-top: -10px;
}

.tgdb-navbar .navbar-nav > li > a,
.tgdb-navbar .navbar-header .navbar-brand {
  color: white;
}

.tgdb-navbar .navbar-nav > li > a:hover {
  color: black;
}

.table.ban {
  table-layout:fixed; 
}

.table.ban tbody tr th {
  text-align: right;
}

.label.label-player {
  background-color: transparent;
  border: 1px solid #eee;
}

.label.label-player a {
  color: inherit;
}

.panel-heading a.label {
  color: white !important;
  font-size: inherit;
}

.ipaddr:hover .ql,
.cid:hover .ql {
  display: inline-block;
}

.ql {
  display: none;
  padding: 5px 5px 0 5px;
  border-radius: 4px;
  border: 1px solid inherit;
  float: right;
  margin: -5px 0 0 0;
}

.sort {
  width: 100%;
}
.sort thead tr th {
  background-repeat: no-repeat;
  background-position: right center;
}

#playerSearch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  padding: 200px 0 0 0;
  background: rgba(255,255,255,.95);
}

.tablesorter-headerUnSorted {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); }

.tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); }

.tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); }